
<section id="home" class="home">
	<div class="block-content ">
		<div class="block-teaser block-background-image large overlay" data-background="img/teaser/1.jpg">
			<div class="container ">
				<div class="row">
					<div class="col-sm-12 ">
						<h1 class="white ">Aditya Verma</h1>
						<h3 class="mt-20 white mb-200">Web Designer / Developer</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 ">
						<a href="#" class="but opc ico white"><i class="icon-print-1"></i>Print Out My CV</a>
					</div>
					<div class="col-sm-6 t-right">
						<p class="white short-email">Do you have any questions ? Write to me at <a href="mailto:ghribbenaissa@gmail.com">contact@gmail.com</a> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
