
<!--Container-->
<div class="container ">
<!--Row-->
<div class="row">
<div class="col-md-12">
<div class="block-title mb-60">
<h2 class="title">My Resume</h2>
</div>
</div>
</div>
<!--End row-->
<!--Row-->
<div class="row masonry">
<!--Block content-->
<div class="block-content">
<div class="col-md-4 col-sm-6 resume-boxe masonry">
<div class="inner-resume-boxe">
<div class="block-icon"><i class="ic-toolbox"></i></div>
<div class="block-title">
  <h3 class="title medium">Expertise</h3>
</div>
<div class="timeline mt-40">
  <div class="exp">
    <div class="hgroup mb-5">
      <h4>WebDesigner &ndash; Mutation Media </h4>
      <h6>Feb 2015 &ndash; <span class="current">Current</span></h6>
    </div>
    <p>Ut enim ad minim veniam, quis nostrud exerc, irure dolor in reprehend.
    </p>
  </div>
  <div class="exp">
    <div class="hgroup mb-5">
      <h4>Web Developer &ndash; Mutation Media  </h4>
      <h6>Sept 2015 &ndash; Nov 2015</h6>
    </div>
    <p>Ut enim ad minim veniam, quis nostrud exerc, irure dolor in reprehend.
    </p>
  </div>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6 resume-boxe masonry">
<div class="inner-resume-boxe">
<div class="block-icon"><i class="ic-pencil"></i></div>
<div class="block-title">
  <h3 class="title medium">Education</h3>
</div>
<div class="timeline mt-40">
  <div class="edu">
    <div class="hgroup mb-5">
      <h4>Bachelor Degree &ndash; Mutation Media </h4>
      <h6>Feb 2015 &ndash; Nov 2015</h6>
    </div>
    <p>Ut enim ad minim veniam, quis nostrud exerc, irure dolor in reprehend.
    </p>
  </div>
  <div class="edu">
    <div class="hgroup mb-5">
      <h4>Master Degree &ndash; Mutation Media  </h4>
      <h6>Sept 2015 &ndash; Nov 2015</h6>
    </div>
    <p>Ut enim ad minim veniam, quis nostrud exerc, irure dolor in reprehend.
    </p>
  </div>
  <div class="edu">
    <div class="hgroup mb-5">
      <h4>School Of Science &ndash; Mutation Media  </h4>
      <h6>May 2015 &ndash; Sept 2015</h6>
    </div>
    <p>Ut enim ad minim veniam, quis nostrud exerc, irure dolor in reprehend.
    </p>
  </div>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6 resume-boxe masonry">
<div class="inner-resume-boxe">
<div class="block-icon"><i class="ic-tools-2"></i></div>
<div class="block-title">
  <h3 class="title medium">Skills</h3>
</div>
<div class="skills mt-40 ">
  <ul class="skill-list clearfix">
    <li>
      <h4>HTML/CSS</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>Jquery</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>Photoshop</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>Illustrator</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
  </ul>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6 resume-boxe masonry">
<div class="inner-resume-boxe">
<div class="block-icon"><i class="ic-mic"></i></div>
<div class="block-title">
  <h3 class="title medium">Languages</h3>
</div>
<div class="skills mt-40 ">
  <ul class="skill-list clearfix">
    <li>
      <h4>English</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>French</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
    <li>
      <h4>Spanish</h4>
      <div class="rating">
        <span></span>
        <span></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
        <span class="transparent"></span>
      </div>
    </li>
  </ul>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6 resume-boxe masonry">
<div class="inner-resume-boxe">
<div class="block-icon"><i class="ic-telescope"></i></div>
<div class="block-title">
  <h3 class="title medium">Interests</h3>
</div>
<div class="hb-list mt-40 ">
  <ul>
    <li>
      <span><i class="ic-megaphone"></i></span>
      <h6>Music</h6>
    </li>
    <li>
      <span><i class="ic-strategy"></i></span>
      <h6>Gaming</h6>
    </li>
    <li>
      <span><i class="ic-hotairballoon"></i></span>
      <h6>Travel</h6>
    </li>
    <li>
      <span><i class="ic-basket"></i></span>
      <h6>Cooking</h6>
    </li>
  </ul>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6 resume-boxe masonry">
<div class="inner-resume-boxe">
<div class="block-icon"><i class="ic-wallet"></i></div>
<div class="block-title">
  <h3 class="title medium">Assets</h3>
</div>
<div class="ast-list mt-40 ">
  <ul>
    <li>
      <span>Responsible</span>
      <span>Diligence</span>
      <span>Labour</span>
    </li>
    <li>
      <span>Rigor</span>
      <span>Creative</span>
      <span>Funny</span>
    </li>
    <li>
      <span>Great Communicator</span>
      <span>Flexible</span>
    </li>
  </ul>
</div>
</div>
</div>
</div>
<!--End block content-->
</div>
<!--End row-->
<!--Row-->
<div class="row">
<!--Block content-->
<div class="block-content mt-50 pb-80 clearfix">
<ul class="fact-list">
<li class="col-sm-3">
<div class="inner-fact clearfix">
  <span class="ico-fact"><i class="ic-hourglass"></i></span>
  <div class="desc-fact"><span class="count">400</span>Project Finished</div>
</div>
</li>
<li class="col-sm-3">
<div class="inner-fact clearfix">
  <span class="ico-fact"><i class="ic-trophy"></i></span>
  <div class="desc-fact"><span class="count">320</span>Instagram Selfie</div>
</div>
</li>
<li class="col-sm-3">
<div class="inner-fact clearfix">
  <span class="ico-fact"><i class="ic-lightbulb"></i></span>
  <div class="desc-fact"><span class="count">5623</span>Coffee Drinked</div>
</div>
</li>
<li class="col-sm-3">
<div class="inner-fact clearfix">
  <span class="ico-fact"><i class="ic-heart"></i></span>
  <div class="desc-fact"><span class="count">1400</span>Facebook Likes</div>
</div>
</li>
</ul>
</div>
<!--End block content-->
</div>
<!--End row-->
</div>
<!--End container-->
<!--Block content-->
<div class="block-content bg-grey  pt-100 pb-80">
<!--Container-->
<div class="container ">
<!--Row-->
<div class="row">
<div class="col-md-12">
<div class="block-title mb-60">
<h2 class="title">Services</h2>
</div>
</div>
</div>
<!--End row-->
<!--Row-->
<div class="row">
<div class="block-service clearfix">
<div class="col-sm-4 img">
<img src="img/img-service.jpg" alt="">
</div>
<div class="col-sm-4">
<ul class="block-list-services mt-60">
  <li class="mb-60 clearfix">
    <div class="serv-ico">
      <span class="ico">
        <i class="ic-shield"></i>
      </span>
    </div>
    <div class="serv-det">
      <h5 class="mb-10">Great Support</h5>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
    </div>
  </li>
  <li class="mb-60 clearfix">
    <div class="serv-ico">
      <span class="ico">
        <i class="ic-hotairballoon"></i>
      </span>
    </div>
    <div class="serv-det">
      <h5 class="mb-10">Print &amp; Branding</h5>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
    </div>
  </li>
  <li class=" mb-60 clearfix">
    <div class="serv-ico">
      <span class="ico">
        <i class="ic-megaphone"></i>
      </span>
    </div>
    <div class="serv-det">
      <h5 class="mb-10">Marketing</h5>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
    </div>
  </li>
</ul>
</div>
<div class="col-sm-4">
<ul class="block-list-services mt-60">
  <li class="mb-60 clearfix">
    <div class="serv-ico">
      <span class="ico">
        <i class="ic-key"></i>
      </span>
    </div>
    <div class="serv-det">
      <h5 class="mb-10">development</h5>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
    </div>
  </li>
  <li class="mb-60 clearfix">
    <div class="serv-ico">
      <span class="ico">
        <i class="ic-lightbulb"></i>
      </span>
    </div>
    <div class="serv-det">
      <h5 class="mb-10">Branding</h5>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
    </div>
  </li>
  <li class=" clearfix">
    <div class="serv-ico">
      <span class="ico">
        <i class="ic-laptop"></i>
      </span>
    </div>
    <div class="serv-det">
      <h5 class="mb-10">Web Design</h5>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua tu enim ad minim veniam.</p>
    </div>
  </li>
</ul>
</div>
</div>
</div>
<!--End row-->
</div>
<!--End container-->
</div>
<!--End block content-->
<!--Block content-->
<div class="block-content clearfix  t-center pt-60 pb-60">
<!--Container-->
<div class="container ">
<!--Row-->
<div class="row">
<div class="block-client clearfix ">
<ul id="client-carousel">
<li><img src="img/logo/l1.png" alt=""></li>
<li><img src="img/logo/l2.png" alt=""></li>
<li><img src="img/logo/l3.png" alt=""></li>
<li><img src="img/logo/l4.png" alt=""></li>
<li><img src="img/logo/l5.png" alt=""></li>
<li><img src="img/logo/l6.png" alt=""></li>
<li><img src="img/logo/l7.png" alt=""></li>
<li><img src="img/logo/l8.png" alt=""></li>
</ul>
</div>
</div>
<!--End row-->
</div>
<!--End container-->
</div>
<!--End block content-->
<!--Block content-->
<div class="block-content t-center block-background-image medium overlay" data-background="img/parallax/5.jpg">
<div class="block-testi ">
<!--Container-->
<div class="container">
<!--Row-->
<div class="row">
<div class="col-md-12">
<!--Testi thumbs-->
<div class="testi-thumbs">
  <ul class="thumbs">
    <li><a class="t-active" href="#testi-1"><img src="img/testimonial/1.jpg" alt="" ><span></span></a></li>
    <li><a href="#testi-2"><img src="img/testimonial/2.jpg" alt=""><span></span></a></li>
    <li><a href="#testi-3"><img src="img/testimonial/3.jpg" alt=""><span></span></a></li>
    <li><a href="#testi-4"><img src="img/testimonial/4.jpg" alt=""><span></span></a></li>
    <li><a href="#testi-5"><img src="img/testimonial/5.jpg" alt=""><span></span></a></li>
  </ul>
  <h3 class="white mt-50 mb-20">Peaple appreciate working with difference vCard</h3>
</div>
<!--End testi thumbs-->
<!--Testi details-->
<div class="testi-details mt-10">
  <!--Testi details single-->
  <div id="testi-1" class="td first">
    <blockquote class="mb-40">Being the richest man in the cemetery doesn't matter to me.
      Going to bed at night saying we've done<br> something wonderful... that's what matters to me</blockquote>
      <h6>Tim Cook</h6>
      <span> CEO and Founder</span>
    </div>
    <!--End testi details single-->
    <!--Testi details single-->
    <div id="testi-2" class="td">
      <blockquote class="mb-40">If you keep your eye on the profit, you’re going to skimp on the product.
        But if you focus on making<br> really great products, then the profits will follow.</blockquote>
        <h6>Steve Jobs</h6>
        <span> CEO and Founder</span>
      </div>
      <!--End testi details single-->
      <!--Testi details single-->
      <div id="testi-3" class="td">
        <blockquote class="mb-40">Being the richest man in the cemetery doesn't matter to me.
          Going to bed at night saying we've done<br> something wonderful... that's what matters to me</blockquote>
          <h6>Tim Cook</h6>
          <span>CEO and Founder</span>
        </div>
        <!--End testi details single-->
        <!--Testi details single-->
        <div id="testi-4" class="td">
          <blockquote class="mb-40">If you keep your eye on the profit, you’re going to skimp on the product.
            But if you focus on making<br> really great products, then the profits will follow.</blockquote>
            <h6>Steve Jobs</h6>
            <span>CEO and Founder</span>
          </div>
          <!--End testi details single-->
          <!--Testi details single-->
          <div id="testi-5" class="td">
            <blockquote class="mb-40">Being the richest man in the cemetery doesn't matter to me.
              Going to bed at night saying we've done<br> something wonderful... that's what matters to me</blockquote>
              <h6>Tim Cook</h6>
              <span>CEO and Founder</span>
            </div>
            <!--End testi details single-->
          </div>
          <!--End testi details-->
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End container-->
  </div>
</div>
<!--End block content-->
<!--Block content-->
<div class="block-content mt-100">
  <div class="block-pricing ">
    <!--Container-->
    <div class="container">
      <!--Row-->
      <div class="row">
        <div class="col-md-12">
          <div class="block-title mb-60">
            <h2 class="title">Packs Pricing</h2>
          </div>
        </div>
      </div>
      <!--End row-->
      <!--Row-->
      <div class="row">
        <div class="block-table clearfix t-center">
          <div class="col-md-3 col-sm-6">
            <div class="table pt-50 pb-40">
              <h6>Starter</h6>
              <div class="block-price mt-50 mb-40">
                <span class="dollar">$</span>
                <span class="price">30</span>
                <span class="per">/mo</span>
              </div>
              <ul>
                <li>Branding</li>
                <li>Logo Design</li>
                <li>Web Design</li>
                <li><span>Web Development</span></li>
                <li><span>Apps Design</span></li>
                <li><span>Apps SDK</span></li>
                <li><span>SEO Optimization</span></li>
              </ul>
              <a class="but brd mt-40 white" href="#">Order Now</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="table pt-50 pb-40">
              <h6>Intermediate</h6>
              <div class="block-price mt-50 mb-40">
                <span class="dollar">$</span>
                <span class="price">60</span>
                <span class="per">/mo</span>
              </div>
              <ul>
                <li>Branding</li>
                <li>Logo Design</li>
                <li>Web Design</li>
                <li>Web Development</li>
                <li><span>Apps Design</span></li>
                <li><span>Apps SDK</span></li>
                <li><span>SEO Optimization</span></li>
              </ul>
              <a class="but brd mt-40 white" href="#">Order Now</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="table pt-50 pb-40">
              <h6>Professional</h6>
              <div class="block-price mt-50 mb-40">
                <span class="dollar">$</span>
                <span class="price">120</span>
                <span class="per">/mo</span>
              </div>
              <ul>
                <li>Branding</li>
                <li>Logo Design</li>
                <li>Web Design</li>
                <li>Web Development</li>
                <li>Apps Design</li>
                <li><span>Apps SDK</span></li>
                <li><span>SEO Optimization</span></li>
              </ul>
              <a class="but brd mt-40 white" href="#">Order Now</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="table pt-50 pb-40">
              <h6>Advanced</h6>
              <div class="block-price mt-50 mb-40">
                <span class="dollar">$</span>
                <span class="price">240</span>
                <span class="per">/mo</span>
              </div>
              <ul>
                <li>Branding</li>
                <li>Logo Design</li>
                <li>Web Design</li>
                <li>Web Development</li>
                <li>Apps Design</li>
                <li>Apps SDK</li>
                <li>SEO Optimization</li>
              </ul>
              <a class="but brd mt-40 white" href="#">Order Now</a>
            </div>
          </div>
        </div>
      </div>
      <!--End row-->
      <!--End row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="block-more-info mt-20">
            <p class="short-email">* For further info or questions, please send me an email at <a href="#">contact@gmail.com</a></p>
          </div>
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End container-->
  </div>
</div>
<!--End block content-->
