<div class="nav-container base">
  <nav class="main-nav default" style="display:block">
    <div class="container ">
      <div class="row">
        <div class="mobile-menu-holder">
          <a class="mobile-btn" href="#"><i class="icon-menu"></i></a>
        </div>
      </div>
    </div>
    <div class="container ">
      <div class="row">
        <div class="col-sm-5 t-center">
          <ul class="menu first">
            <li><a href="/home">Home<i class="icon-home"></i></a></li>
            <li><a href="/about">About<i class="icon-user"></i></a></li>
            <li><a href="/resume">Resume<i class="icon-doc-text-inv"></i></a></li>
          </ul>
        </div>
        <div class="col-sm-2 pd-0 t-center">
          <div class="img-profile">
            <img src="img/testimonial/1.jpg" alt="">
          </div>
          <div class="name-profile">
            <h5><a href="/home">Aditya Verma<span>Web Designer / Developer</span></a></h5>
          </div>
        </div>
        <div class="col-sm-5 t-center">
          <ul class="menu second">
            <li><a href="/portfolio">Portfolio<i class="icon-camera"></i></a></li>
            <li><a href="/blog">Blog<i class="icon-chat"></i></a></li>
            <li><a href="/contact">Contact<i class="icon-paper-plane"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
